<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-init-method="init"
	default-destroy-method="destroy">

	<bean id="helloWorld" class="pl.pawc.HelloWorld">
		<property name="message" value="Hello Spring!"/>
	</bean>

	<bean id="helloIndia" class="pl.pawc.HelloIndia" parent="helloWorld">
		<property name="message2" value="Hello India!"/>
	</bean>

	<bean id="foo" class="pl.pawc.Foo" scope="prototype">
	</bean>

	<bean id="bar" class="pl.pawc.Bar" scope="singleton">
	</bean>

	<bean class="pl.pawc.InitHelloWorld" />

</beans>
