<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-init-method="init"
	default-destroy-method="destroy">

	<bean id="helloWorld" class="pl.pawc.HelloWorld">
		<property name="message" value="Hello Spring!"/>
	</bean>

	<bean id="helloIndia" class="pl.pawc.HelloIndia" parent="helloWorld">
		<property name="message2" value="Hello India!"/>
	</bean>

	<bean id="foo" class="pl.pawc.Foo" scope="prototype">
            <property name="message" value="foo message"/>
	</bean>

	<bean id="bar" class="pl.pawc.Bar" scope="singleton">
            <property name="message" value="bar message"/>
	</bean>

	<bean class="pl.pawc.InitHelloWorld" />

	<bean id="textEditor" class="pl.pawc.TextEditor">
		<constructor-arg ref="spellChecker"/>
	</bean>

	<bean id="spellChecker" class="pl.pawc.SpellChecker">
	</bean>	

	<bean id="textEditor2" class="pl.pawc.TextEditor2">
		<property name="spellChecker" ref="spellChecker"/>
	</bean>

	<bean id="textEditor3" class="pl.pawc.TextEditor3">
		<property name="spellChecker">
			<bean id="spellChecker2" class="pl.pawc.SpellChecker"/>
		</property>
	</bean>
    
    <bean id="javaCollection" class="pl.pawc.JavaCollection">
        
        <property name="addressList">
            <list>
                <value>Kielce</value>
                <value>Szczecinek</value>
                <value>Katowice</value>
                <value>Katowice</value>
                <ref bean="foo"/>
                <ref bean="bar"/>
            </list>
        </property>
        
        <property name="addressSet">
            <set>
                <value>Kielce</value>
                <value>Szczecinek</value>
                <value>Katowice</value>
                <value>Katowice</value>
                <ref bean="foo"/>
                <ref bean="bar"/>
            </set>
        </property>
        
        <property name="addressMap">
            <map>
                <entry key="1" value="Kielce"/>
                <entry key="2" value="Szczecinek"/>
                <entry key="3" value="Katowice"/>
                <entry key="4" value="Katowice"/>
                <entry key="5" value-ref="foo"/>
                <entry key="6" value-ref="bar"/>
            </map>
        </property>
                        
        <property name="addressProp">
            <props>
                <prop key="one">Kielce</prop>
                <prop key="two">Szczecinek</prop>
                <prop key="three">Katowice</prop>
                <prop key="four">Katowice</prop>
            </props>
        </property>
                        
    </bean>
    
    <bean id="textEditor4" class="pl.pawc.TextEditor4" autowire="byName"/>
    
</beans>
